name: dbt Cloud CI
on:
  pull_request:
    branches:
      - main
      - staging
jobs:
  run_bigquery:
    name: dbt PR CI BigQuery
    runs-on: macos-latest

    env:
      BQ_PROJECT: ${{ secrets.BQ_PROJECT }}
      BQ_DATASET: ${{ secrets.BQ_DATASET }}
      BQ_KEYFILE_PATH: ${{ github.workspace }}/bq_keyfile.json
      BQ_KEYFILE_CONTENT: ${{ secrets.BQ_KEYFILE_CONTENT }}

    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"
      - name: Install uv
        run: python3 -m pip install uv
      - name: Install deps
        run: uv pip install -r requirements.txt --system
      - name: Prepare BQ keyfile
        run: |
          echo "$BQ_KEYFILE_CONTENT" > bq_keyfile.json
      - name: Run dbt
        run: |
          uv dbt deps
          uv dbt seed
          uv dbt run
          uv dbt docs generate
      - name: Update Recce PR Session
        uses: DataRecce/recce-cloud-cicd-action@v1
        with:
          api_host: https://staging.cloud.datarecce.io
          web_host: https://staging.cloud.datarecce.io
